.travel__title{
    width: 720px;
    height: 200px;
    margin: 0;
    padding-left: 280px;
    padding-right: 280px;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    color: #FFFFFF;
}
@media only screen and (max-width: 1024px){     
    .travel__title{
        padding-left: 152px;
        padding-right: 152px;
    }
}
@media only screen and (max-width: 768px){     
    .travel__title{
        padding-left: 24px;
        padding-right: 24px;
    }
}
@media only screen and (max-width: 320px){     
    .travel__title{
        padding-left: 16px;
        padding-right: 16px;
        width: 288px;
        height: 88px;
        font-size: 40px;
        line-height: 44px;
    }
}