.collage{
    display: grid;
    justify-content: flex-start;
    grid-gap: 16px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-left: 48px;
    margin-right: 48px;
    margin-top: 92px;
    
}
@media only screen and (max-width: 1024px){     
    .collage{
        width: 300px;
        grid-gap: 14px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
}
@media only screen and (max-width: 768px){     
    .collage{
        width: 352px;
        grid-gap: 16px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        margin-left: 24px;
        margin-right: 24px;
        margin-top: 88px;
    }
}
@media only screen and (max-width: 320px){     
    .collage{
        width: 288px;
        grid-gap: 12px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        margin-left: 16px;
        margin-right: 16px;
        margin-top: 64px;
    }
}
