.place__record{
    width: 484px;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
    margin: 0;
    padding-top: 48px;
}
@media only screen and (max-width: 1024px){     
    .place__record{
        width: 456px;
    }
}
@media only screen and (max-width: 768px){     
    .place__record{
        width: 352px;
        font-size: 16px;
    }
}
@media only screen and (max-width: 320px){     
    .place__record{
        width: 288px;
        padding-left: 16px;
        padding-right: 16px;
    }
}