.view__title{
    width: 690px;
    height: 58px;
    margin: 0;
    font-size: 54px;
    line-height: 58px;
    color: #FFFFFF;
}
@media only screen and (max-width: 768px){     
    .view__title{
        width: 720px;
    }
}
@media only screen and (max-width: 320px){     
    .view__title{
        width: 288px;
        height: 70px;
        font-size: 32px;
        line-height: 35px;
    }
}
