.collage__item{
    width: 284px;
    height: 213px;
}
@media only screen and (max-width: 1024px){     
    .collage__iteme{
        width: 300px;
        height: 225px;
    }
}
@media only screen and (max-width: 768px){     
    .collage__iteme{
        width: 352px;
        height: 264px;
    }
}
@media only screen and (max-width: 320px){     
    .collage__item{
        width: 288px;
        height: 216px;
    }
}
