.place__board{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(1,2fr);
    grid-column-gap: 40px;
    grid-row-gap: 80px;
    align-items: center;
}
@media only screen and (max-width: 1024px){     
    .place__board{
        grid-column-gap: 32px;
    }
}
@media only screen and (max-width: 768px){     
    .place__board{
        grid-column-gap: 28px;
        grid-row-gap: 174px;
    }
}
@media only screen and (max-width: 320px){     
    .place__board{
        grid-row-gap: 32px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3,0.5fr);
    }
}