.cover{
    position: relative;
    margin-top: 92px;
    margin-bottom: 92px;
}
@media only screen and (max-width: 768px){     
    .cover{
        margin-top: 90px;
        margin-bottom: 88px;
    }
}
@media only screen and (max-width: 320px){     
    .cover{
        margin-top: 64px;
        margin-bottom: 66px;
    }
}