.nav__element{
    padding: 0;
    list-style-type: none;
    height: 18px;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
}
@media only screen and (max-width: 320px){     
    .nav__element{
        font-size: 24px;
        line-height: 24px;
        padding-bottom: 32px;
    }
}