.list{
    width: 690px;
    height: 90px;
    margin: 0;
    padding: 0;
}
@media only screen and (max-width: 768px){     
    .list{
        width: 720px;
    }
}
@media only screen and (max-width: 320px){     
    .list{
        width: 288px;
    }
}